<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>delivey</title>	
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/styles.css">	 

</head>

<body>
	
	<header>
		<img class="logocabecalho" src="./img/foto_cabecalho.jpg" alt="logo da empresa">
		<!-- img class="img-fluid" src="./img/foto_cabecalho.jpg" alt="logo da empresa" -->
	</header>	

		<div class="menupadrao">
			<div class="itemdomenupadrao">
				<img class="logo" src="./img/logo.jpg" alt="logo da empresa">	
				<nav class="menus">			
						<a class="linkmenu" href="#salgado">Salgados</a>
						<a class="linkmenu" href="#et">Esfihas Tradicionais</a>				
						<a class="linkmenu" href="#ed">Esfiha Doce</a>
						<a class="linkmenu" href="#refrigerante">Refrigerantes</a>
						<a class="linkmenu" href="#suco">Sucos e Vitaminas</a> 
						<a class="linkmenu" href="/login">Criar conta</a>			
				</nav>
			</div>	
			<p class="taxa">Taxa de entrega á partir de 5,00. Tempo de espera minimo 40 min.</p>			 
		</div>
		 
	<main>	
		<div class="container-fluid py-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<h2 class="text-center display-5" id="salgado">Salgados</h2>
					</div>
				</div>
				<div class="row g-6">
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/coxinha/coxinhascarne.jpg">
							<div class="card-body  p-6">							
								
								<h3 class="h3 my-6">coxinha de carne</h3>
								<p class="lead">com carne moida, massa de pão.</p>
								<p class="preco">R$ 4,20</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>				
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/coxinha/coxinhasqueijo.jpg">
							<div class="card-body  p-6">							                            
								<h3 class="h3 my-6">coxinha de queijo</h3>
								<p class="lead">com queijo, massa de pão.</p>							
								<p class="preco">R$ 4,20</p><a href="#" class="btn btn-primary">adicionar</a>
								</p>	
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/coxinha/coxinhasfrango.jpg">
							<div class="card-body  p-6">					                            
								<h3 class="h3 my-6">coxinha de frango</h3>
								<p class="lead">com recheio de frango, massa de pão.</p>							
								<p class="preco">R$ 4,20</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					
				</div>
			
			</div>
		</div>


		<div class="container-fluid py-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<h2 class="text-center display-5" id="et">Esfihas Tradicionais</h2>
					</div>
				</div>
				<div class="row g-6">
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha tradicional/queijo.jpg">
							
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">esfiha de queijo</h3>
								<p class="lead">com recheio de mussarela.</p>							
								<p class="preco">R$ 3,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>				
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha tradicional/brocolis cm queijo.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">esfiha de brócolis</h3>
								<p class="lead">com recheio brócolis e mussarela.</p>							
								<p class="preco">R$ 3,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha tradicional/atum.jpg" width="400">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">esfiha de atum</h3>
								<p class="lead">com recheio de atum e mussarela.</p>							
								<p class="preco">R$ 3,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha tradicional/calabresa cm cheddar.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">esfiha de calabresa</h3>
								<p class="lead">com recheio de calabresa e mussarela.</p>							
								<p class="preco">R$ 3,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
				</div>
			
			</div>
		</div>	

		<div class="container-fluid py-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<h2 class="text-center display-5" id="ed">Esfiha Doce</h2>
					</div>
				</div>
				<div class="row g-6">
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha doce/chocolate.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">esfiha chocolate</h3>
								<p class="lead">com recheio de chocolate.</p>							
								<p class="preco">R$ 5,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>				
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha doce/chocolate cm banana.png">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Chocolate com banana</h3>
								<p class="lead">com de recheio de chocolate e pedaços de banana.</p>								
								<p class="preco">R$ 5,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha doce/sensação.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Sensação</h3>
								<p class="lead">com recheio de chocolate e pedaços de morango.</p>							
								<p class="preco">R$ 5,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/esfiha doce/banana cm mussarela.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Banana com mussarela</h3>
								<p class="lead">com recheio banana e mussrela.</p>							
								<p class="preco">R$ 5,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
				</div>
			
			</div>
		</div>

		<div class="container-fluid py-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<h2 class="text-center display-5" id="refrigerante">Refrigerantes</h2>
					</div>
				</div>
				<div class="row g-6">
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/refrigerante/coca-600.jpg" width="200">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">coca-cola 600 ml</h3> 							
								<p class="preco">R$ 6,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>				
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/refrigerante/coca-lata350.jpg" width="200">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">coca-lata 350 ml </h3> 
								<p class="preco">R$ 4,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/refrigerante/sukita uva 2L.jpg" width="200">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Sukita 2L</h3>
								<p class="preco">R$ 8,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/refrigerante/fanta laranja 2 litros.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Fanta laranja 2L</h3>								 
								<p class="preco">R$ 8,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/refrigerante/fanta uva 2 litros.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Fanta UVA 2L</h3>								 
								<p class="preco">R$ 8,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
				</div>
			
			</div>
		</div>

		<div class="container-fluid py-5">
			<div class="container">
				<div class="row mb-5">
					<div class="col">
						<h2 class="text-center display-5" id="suco">Sucos</h2>
					</div>
				</div>
				<div class="row g-6">
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/sucos/maracuja.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Suco de maracuja</h3>								 
								<p class="preco">R$ 9,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>				
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/sucos/uva.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Suco de UVA</h3>								 
								<p class="preco">R$ 9,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/sucos/laranja.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Suco de Laranja</h3>								 
								<p class="preco">R$ 9,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card">						
							<img src="../../img/sucos/vitaminas.jpg">
							<div class="card-body  p-6">															
								<h3 class="h3 my-6">Vitaminas</h3>								 
								<p class="preco">R$ 9,50</p><a href="#" class="btn btn-primary">adicionar</a>
							</div>
						</div>
					</div>
				</div>
			
			</div>
		</div>

	</main>


<footer>
	<div class="itenfooter">
		<img class="logo" src="./img/logo.jpg" alt="logo da empresa">
	</div>			
 

	<div class="itenfooter">
		<h3>Nosso WhatsApp</h3>
		<p>(11) 99789-1234</p> 
	</div>

</footer>

</body>
</html>